#head {
	display: flex;
	height: 100vh;
	min-height: 100vh;
	justify-content: center;
	align-items: center;
}

#info {
	background-color: black;
	color: white;
	text-align: center;
	height: 90vh;
	min-height: 100vh;

	display: flex;
	align-items: center;
	justify-content: center;

	font-size: 14px;

}

#info>div>h1>div {
	outline: none;
}

#info::selection {
	color: black;
	background: white;
}

footer {
	background-color: black;
	color: white;
}

dl {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 2vh;
}

dt {
	text-align: right;
}

dd {
	text-align: left;
	margin-left: 0%;
}

h1>div {
	line-height: 1;
	outline: grey solid 0.1vw;
	display: inline-flex;
	align-items: baseline;
	width: 6ex;
	height: 6ex;
	z-index: 10;
	position: relative;
	margin-left: 0.5vw;
	margin-right: 0.5vw;
	text-align: center;
}

h1>div>span {
	position: relative;
	font-size: 6ex;
	z-index: 11;
	width: 100%;
	height: max-content;
}

.absoluteGL {
	position: absolute;
	z-index: 1;
	width: 50%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 0;
	outline: lightgrey dashed 0.1vw;
}

.subgl {
	height: 50%;
	width: 100%;
	transform: translateY(calc(2/3 * 100%));
	outline: none;
	border-bottom: lightgrey dashed 0.1vw;
	border-top: lightgrey dashed 0.1vw;
}


#majorCat {
	margin: 0;
}


ul,
li {
	list-style-position: inside;
	list-style-type: none;
	margin: 0;
	padding: 0;
}