::selection {
	color: white;
	background: black;
}

#main {
	font-size: xx-large;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 100%;
}

body {
	font-family: 'Fragment Mono', monospace;
}

footer {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 4vh;
	overflow-y: hidden;
	text-align: center;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	font-style: oblique;
}

.serif {
	font-family: serif;
}

.sans {
	font-family: sans-serif;
}

.monospace {
	font-family: 'Fragment Mono', monospace;
}

.pseudobutton:hover {
	cursor: pointer;
}

#modal {
	background-color: lightgrey;

	outline: black solid 1px;

	padding: 1vw;
}

html,
body {
	margin: 0;
	padding: 0;
	border: 0;
}